<div *ngIf="(customerDetail$ | async) as customer else nothingFoundCustomer">
  <h4 class="ui dividing header">Informações do Cliente</h4>
  <div class="ui form">
    <div class="fields">
       <div class="ten wide field">
          <label>Nome:</label>
          <div>{{customer.nome}}</div>
        </div>
         <div class="six wide field">
            <label>CPF/CNPJ:</label>
            <div>{{customer.cpfCnpj}}</div>
        </div>

    </div>
    <div class="fields">
      <div class="ten  wide field">
        <label>Nome Fantasia:</label>
        <div>{{customer.nomeFantasia || "NÃO INFORMADO"}}</div>
      </div>
      <div class="six wide field">
        <label>Inscrição Estadual:</label>
        <div>{{customer.inscricaoEstadual || "NÃO INFORMADO"}}</div>
      </div>
    </div>
    <h4 class="ui dividing header">Endereço do Cliente</h4>
    <div class="fields">
     <div class="eight wide field">
        <label>Endereço:</label>
        <div>{{customer.endereco}}</div>
     </div>
     <div class="six wide field">
        <label>Complemento:</label>
        <div>{{customer.complemento || "NÃO INFORMADO"}}</div>
      </div>
      <div class="two wide field">
        <label>Número:</label>
        <div>{{customer.numero}}</div>
     </div>
    </div>
    <div class="fields">
      <div class="four wide field">
        <label>Bairro:</label>
        <div>{{customer.bairro}}</div>
     </div>
      <div class="four wide field">
        <label>CEP:</label>
        <div>{{customer.cep}}</div>
      </div>
      <div class="six wide field">
        <label>Cidade:</label>
        <div>{{customer.cidade}}</div>
     </div>
     <div class="two wide field">
        <label>Estado:</label>
        <div>{{customer.estado}}</div>
     </div>
    </div>
    <h4 class="ui dividing header">Contatos do Cliente</h4>
    <div class="fields">
        <div class="four wide field">
            <label>Telefone:</label>
            <div>{{customer.telefone}}</div>
        </div>
        <div class="twelve wide field">
            <label>Email:</label>
            <div>{{customer.email}}</div>
        </div>
    </div>
     <div class="ui divider"></div>
    <div class="ui buttons right floated">
        <button class="ui large button">Cancelar</button>
        <div class="or" data-text="ou"></div>
        <button class="ui large teal button">Alterar</button>
    </div>
  </div>
</div>

<ng-template #nothingFoundCustomer>
    <div>Not Found</div>
</ng-template>